name: generate-3d-contrib
permissions:
  contents: write
on:
  schedule:
    - cron: "0 2 * * *"
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Generate 3D Contribution Graph
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Generate 3D Contribution Graph
        uses: yoshi389111/github-profile-3d-contrib@0.7.1
        with:
          USERNAME: alvind526
      - name: Push the generated 3D graph
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: ./profile-3d-contrib
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
